<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Login UI</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<section class="io grid centro login">
		<div class="linha">
			<div class="coluna">
				<div class="card">
					<header class="card-header">
						<div class="card-image">
							<img src="assets/images/image-header.svg" alt="Dashboard" />
						</div><!-- Card-image -->
						<div class="nuvens"></div>
					</header><!-- Card-header -->
					<section class="card-title">
						<h1>Dashboard Experience</h1>
					</section><!-- card-title -->
					<section class="sub-title">
						Login UI
					</section>

					<section class="sign">
						<button class="io botao basico-marinho sombra" routerLink="/panel">Entrar</button>
					</section>
				</div><!-- Card -->
			</div><!-- Coluna -->
		</div><!-- Linha -->
	</section><!-- Grid -->
</body>
</html>
