<section class="io grid centro">
	<div class="tres wide coluna sidebar">
		<section class="recipiente-perfil">
			<figure class="perfil-imagem">
				<img src="../../../../assets/images/perfil.svg" alt="Perfil" />
			</figure>
			<header class="descricao">
				<h3>Francisco Barros</h3>
				<p>Development</p>
			</header>
		</section><!-- perfil -->

		<section class="menu">
			<a routerLink="/botao">Botoes</a>
		</section>

		<section class="container-outlet">
			<router-outlet></router-outlet>
		</section>
	</div><!-- coluna -->
</section><!-- Grid -->
