.sidebar {
	display: flex !important;
    position: absolute !important;
    top: 0;
    background: #151A2E;
    box-shadow: 40px 10px 13px -41px rgba(7, 7, 16, 0.92);
    bottom: 0;
    z-index: 1;
    transform: translate3d(-217%, 0, 0);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    	section.recipiente-perfil {
		    position: absolute;
		    top: 59px;
		    width: 85.5%;
		    height: 14.5%;
		    display: flex;
		    justify-content: space-evenly;
		    align-items: center;
		    border-radius: 7px;
		    background:#33374c;
		    color: #A6AEB9;
			box-shadow: 0 17px 0 -11px rgba(42, 45, 64, 0.51), 0 34px 0 -23px rgba(42, 45, 64, 0.44), -3px 19px 25px rgb(15, 20, 37);

				figure.perfil-imagem {
				    width: 60px;
				    margin: 0;
				    padding: 0;
				}

				header.descricao  {
					cursor: default;

				    h3 {
						font-family: 'Roboto', sans-serif;
					    font-size: 13px;
					    font-weight: 300;
					    letter-spacing: 1px;
					    color: #FFF;
					    padding: 0;
					    margin: 0;
				    }

				    p {
				    	font-family: 'Roboto Mono', monospace;
					    font-weight: 300;
					    font-size: 11px;
				    }
				}
		}
}