
<section class="io grid">
    <div class="linha">
        <div class="dezesseis wide coluna main-bar">

           <span class="spacer"></span>

           <button class="io botao basico-acao mini icone"><i class="icone" data-feather="user"></i></button>

           <button class="io botao basico-acao mini icone"><i class="icone" data-feather="star"></i></button>

           <button class="io botao basico-acao mini icone"><i class="icone" data-feather="bell"></i></button>

           <button class="io botao basico-acao mini icone" (click)="rotaParaLogin()"><i class="icone" data-feather="log-out"></i></button>

           <section class="perfil">
           	
           </section>

        </div><!-- coluna -->
    </div><!-- linha -->
</section><!-- grid -->