
<section class="io grid">
    <div class="linha">
        <div class="dezesseis wide coluna main-bar">
           <button class="io botao basico-acao mini icone"><i class="icone fa fa-user-circle" aria-hidden="true"></i></button>

           <span class="spacer"></span>

           <button class="io botao basico-acao mini icone"><i class="icone fa fa-star" aria-hidden="true"></i></button>

           <button class="io botao basico-acao mini icone"><i class="icone fa fa-bell-o" aria-hidden="true"></i></button>

           <button class="io botao basico-acao mini icone"><i class="icone fa fa-sign-out" aria-hidden="true"></i></button>

           <section class="perfil">
           	
           </section>

        </div><!-- coluna -->
    </div><!-- linha -->
</section><!-- grid -->